services:
  db:
    image: postgres:18-alpine
    command: -c config_file=/etc/postgresql.conf
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/var/lib/postgresql
      - ./postgresql.conf:/etc/postgresql.conf
