services:
  db:
    image: postgres:18-alpine
    command: -c config_file=/etc/postgresql_config/postgresql.conf
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./postgres:/var/lib/postgresql
      - ./postgresql_config:/etc/postgresql_config
