body
{
    text-align: center;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #131517;
    background-image: 
        linear-gradient(0deg,  rgba(10, 235, 0, 0.3) 0.05px, transparent 1px),
        linear-gradient(90deg,  rgba(10, 235, 0, 0.3) 0.05px, transparent 1px);
    background-size: 30px 30px;
}

#status
{
    position: absolute;
    color:rgb(255, 255, 255);
    top: 100px;
}

#mood-btn
{
    width: 404px;
    height: 79px;
    font-size: 16px;
    background-color: #0AEB00;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mood-btn:hover
{
    background-color: #B13BCC;
}

#square
{
    width: 479px;
    height: 522px;
    border: 2px solid;
    border-image: linear-gradient(180deg, #0AEB00, #182d14) 1;
    /* opacity: 0.8; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#header
{
    width: 100%;
    height: 80px;
    background-color: #0f1314;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.header-logo
{
    /* flex: 0 0 auto; */
    display: flex;
    justify-content: flex-start;
    margin-left: 45px;
}

.header-logo img
{
    height: 40px;
}

.header-nav
{
    display: flex;
    gap: 60px;
    flex: 1;
    justify-content: flex-end;
    margin-right: 45px;
}

.header-nav a
{
    color: #0AEB00;
    text-decoration: none;
    transition: color 0.3s;
}

.header-nav a:hover
{
    color: #B13BCC;
}



#footer
{
    width: 100%;
    height: 40px;
    background-color:#0F1314;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}